input {
    background: transparent;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.input-group {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}